<div class="row page-box">
    <div class="col-sm-12">
        <h2>Hello friends!!! Welcome to CVhub!!!</h2>
        @Html.ActionLink("Find your job!", "Index", "JobOffer", null, new { @class = "btn btn-primary" })
    </div>
</div>
